.title {
    background: #FDF28A;
    border: 6px solid #000000;
    padding: 1rem;
    width: 30rem;
    margin: 0 auto;
    text-align: center;
}

.cat {
    display: flex;
    justify-content: space-between;
}

.item {
    background: #F4B8CD;
    border: 5px solid #000000;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem auto;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.item:hover {
    transform: scale(1.1); 
}

.from {
    font-size: 30px;
    font-weight: 500;
}

.lie {
   font-size: 20px;  
   font-weight: 500;
}

.image {
    width: 350px;
    height: 350px;
    background-color: #FDF28A;
}

.circle {
  height: 35px;
  width: 35px;
  background-color: #102D71;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1rem;
}

.head {
    display: flex;
}

/*.hearts__button {
    background-color: red;
    border: none;

}*/


.hearts {
  cursor: pointer;
  background-color: white;
  height: 30px;
  width: 30px;
  transform: rotate(-45deg);
}

.hearts::before,
.hearts::after {
  content: '';
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
}

.hearts::before {
  top: -15px;
}

.hearts::after {
  left: 15px;
}

.hearts:hover,
.hearts:hover::before,
.hearts:hover::after {
  background-color: red;
}
/*werkt nog niet voor button maken */
.hearts:focus,
.hearts:focus::before,
.hearts:focus::after {
  background-color: red;
}